# object files
c63enc
c63dec
c63pred
*.o

# make files
.*.d

# data files
*.yuv
*.c63

#build
build/
!golden/
!golden/*

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.a
*.so

# macOS
.DS_Store

reports/

*.md
!README.md
.*